<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
    <style type="text/css">
        img {
            max-height: 100px;
            max-width: 100px;
        }
    </style>
</head>
<body>
    <header><img src="‪../../img/logo.jpg" alt="Meadowlark Travel Logo"></header>
	{{{body}}}
</body>
</html>