<!DOCTYPE html>
<html>
<head>
	<title>Meadowlark Travel</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	{{{_sections.head}}}
    <style type="text/css">
        img {    
            max-height: 100px;
            max-width: 100px;
        }
    </style>
</head>
<body>
    <header><img src="‪../../img/logo.jpg" alt="Meadowlark Travel Logo"></header>
	{{{body}}}
	
	{{{_sections.jquery}}}
</body>
</html>